<%= form_for @note do |f| %>
	<% if @note.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>
	    <ul>
	      <% @note.errors.full_messages.each do |msg| %>
	        <li><%= raw(msg) %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>
  <%= f.hidden_field :nvt_oid %>
  <%= f.hidden_field :report_id %>
	<div class="field">
	  <div class="left">NVT Name</div>
	  <div class="right"><%= @note.nvt_oid %></div>
	</div>
	<br /><br />
	<div class="field">
	  <div class="left">Hosts</div>
	  <div class="right">
			<%= collection_select(:note, :hosts, Note.two_selections(@note.hosts, @note.hosts), :id, :name) %>
		</div>
	</div>
	<br /><br />
	<div class="field">
	  <div class="left">Port</div>
	  <div class="right">
			<%= collection_select(:note, :port, Note.two_selections(@note.port, @note.port), :id, :name) %>
		</div>
	</div>
	<br /><br />
	<div class="field">
	  <div class="left">Threat</div>
	  <div class="right">
			<%= collection_select(:note, :threat, Note.two_selections(@note.threat, @note.threat), :id, :name) %>
		</div>
	</div>
	<br /><br />
	<div class="field">
	  <div class="left">Task</div>
	  <div class="right">
			<%= collection_select(:note, :task_id, Note.two_selections(@note.task_id, @note.task_name), :id, :name) %>
		</div>
	</div>
	<br /><br />
	<div class="field">
	  <div class="left">Result</div>
	  <div class="right">
			<%= collection_select(:note, :result_id, Note.two_selections(@note.result_id, @note.result_description), :id, :name) %>
		</div>
	</div>
	<br /><br />
  <div class="field">
    <div class="left"><%= f.label :note_text %></div>
    <div class="right"><%= f.text_area :note_text, :rows => 5, :cols => 80 %></div>
  </div>
	<br /><br />
  <div class="actions">
    <div class="left">&nbsp;</div>
		<div class="right">
			<% if @note.new_record? %>
	    		<%= big_button_submit_tag 'Create Note' %>
			<% else %>
	    		<%= big_button_submit_tag 'Save Note' %>
			<% end %>
  	</div>
  </div>
	<br /><br />
<% end %>
