<script>
	$(document).ready(function() { 
		$(".tablesorter").tablesorter(); 
	});
</script>

<% title "Report Formats" %>
<div><%= link_to 'Import Report Format', new_report_format_path, :class => "add2-button" %></div>
<div style="clear: both"></div>
<article class="module">
	<header><h3>Report Formats Overview</h3></header>
<table class="tablesorter" cellspacing="0">  
<thead>   
	<tr>
    <th class="first">Name</th>
    <th>Extension</th>
    <th>Content Type</th>
    <th>Trust</th>
    <th>Active</th>
    <th>Summary</th>
    <th colspan="3">Actions</th>
  </tr>
</thead>
<tbody>
  <% for report_format in @report_formats %>
    <tr>
      <td><%= link_to report_format.name, edit_report_format_path(report_format.id), :title => 'edit Report Format', :class => "details-button" %></td>
      <td><%= report_format.extension %></td>
      <td><%= report_format.content_type %></td>
      <td>
				<%= report_format.trust %>
				<br />
				<% rftt = Time.parse(report_format.trust_time) unless report_format.trust_time.blank? %>
				(<%= rftt.strftime("%b %d %Y") unless report_format.trust_time.blank? %>)
			</td>
      <td><%= report_format.active == '1' ? 'yes' : 'no' %></td>
      <td><%= report_format.summary %></td>
      <td><%= pill_button_link_to 'Download', export_report_format_path(report_format.id), :title => 'download report format' %></td>
      <td><%= pill_button_link_to "Verify Report Format", verify_report_format_path(report_format.id), :title => 'verify report format' %></td>
      <td>
				<% if report_format.global == '0' %>
						<%= danger_remove_pill_button_link_to "Delete", report_format_path(report_format.id), :confirm => 'Are you sure?', :method => :delete %>
			  <% else %>
						<%= link_to "Delete", report_formats_path, :title=>'report format is in use', :class => "delete-button" %>
			  <% end %>
			</td>
    </tr>
  <% end %>
	</tbody>
</table>
</article>
