<script>
	$(document).ready(function() { 
		$(".tablesorter").tablesorter(); 
	});
</script>
<% title "Slaves" %>

<div ><%= link_to "New Slave", new_slafe_path, :class => "add-button" %></div>
<div style="clear: both"></div>
<%# note: rails sees the singular of 'slaves' as 'slafe': %>
<article class="module">
	<header><h3>Slaves Overview</h3></header>
<table class="tablesorter" cellspacing="0">  
<thead>    
  <tr>
    <th class="first">Name</th>
    <th>Comment</th>
    <th>Host</th>
    <th>Port</th>
    <th>Login</th>
    <th>In Use</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  <% for slave in @slaves %>
    <tr class=<%= cycle('even', 'odd')%>>
      <td><%= slave.name %></td>
      <td><%= slave.comment %></td>
      <td><%= slave.host %></td>
      <td><%= slave.port %></td>
      <td><%= slave.login %></td>
      <td><%= slave.in_use == 0 ? 'no' : 'yes' %></td>
			<% if slave.in_use > 0 %>
  				<td><%= disable_danger_remove_pill_button_link_to "Delete", slafe_path(slave.id), :title=>'slave is in use' %></td>
  		<% else %>
					<%# note: rails sees the singular of 'slaves' as 'slafe': %>
      		<td><%= link_to "Delete", slafe_path(slave.id), :confirm => 'Are you sure?', :method => :delete, :class => "delete-button" %></td>
		  <% end %>
    </tr>
		<tr><td colspan="7"><hr /></td></tr>
  <% end %>
	</tbody>
</table>
</article>
