<% title "Slave" %>
<p>
  <strong>Name:</strong>
  <%= @slave.name %>
</p>
<p>
  <strong>Comment:</strong>
  <%= @slave.comment %>
</p>
<p>
  <strong>Host:</strong>
  <%= @slave.host %>
</p>
<p>
  <strong>Port:</strong>
  <%= @slave.port %>
</p>
<p>
  <strong>Login:</strong>
  <%= @slave.login %>
</p>
