<%= form_for @task do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
	      <% @task.errors.full_messages.each do |msg| %>
	        <li><%= raw(msg) %></li>
	      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <div class="left"><%= f.label :name %></div>
    <div class="right"><%= f.text_field :name, :maxlength => 80 %></div>
  </div>
  <div class="field">
    <div class="left"><%= f.label :comment %></div>
    <div class="right"><%= f.text_area :comment, :rows => 5, :cols => 80 %></div>
  </div>
  <div class="field">
    <div class="left">Scan Config</div>
		<div class="right">
			<% if @task.new_record? %>
				<%= collection_select(:task, :config_id, ScanConfig.selections(current_user), :id, :name) %>
			<% else %>
				<%= collection_select(:task, :config_id, ScanConfig.selections(current_user), :id, :name, {}, {:disabled => true}) %>
			<% end %>
  	</div>
  </div>
  <div class="field">
    <div class="left">Scan Target</div>
		<div class="right">
			<% if @task.new_record? %>
				<%= collection_select(:task, :target_id, ScanTarget.selections(current_user), :id, :name) %>
			<% else %>
				<%= collection_select(:task, :target_id, ScanTarget.selections(current_user), :id, :name, {}, {:disabled => true}) %>
			<% end %>
  	</div>
  </div>
  <div class="field">
    <div class="left"><%= f.label "Escalator" %></div>
		<div class="right"><%= collection_select(:task, :escalator_id, Escalator.selections(current_user), :id, :name) %></div>
  </div>
  <div class="field">
    <div class="left"><%= f.label "Schedule" %></div>
		<div class="right"><%= collection_select(:task, :schedule_id, Schedule.selections(current_user), :id, :name) %></div>
  </div>
  <div class="field">
    <div class="left"><%= f.label "Slave" %></div>
		<div class="right"><%= collection_select(:task, :slave_id, Slave.selections(current_user), :id, :name) %></div>
  </div>
	<br /><br />
  <div class="actions">
    <div class="left">&nbsp;</div>
		<div class="right">
			<% if @task.new_record? %>
	    		<%= big_button_submit_tag 'Create Task' %>
			<% else %>
	    		<%= big_button_submit_tag 'Save Task' %>
			<% end %>
  	</div>
  </div>
	<br /><br />
<% end %>
