	<script>
		$(document).ready(function() { 
			$(".tablesorter").tablesorter(); 
		});
	</script>

<% title "Manage Schedules" %>
<div>
	<%= button_group do %>
			<%= link_to 'New Schedule', new_task_path, :class => "add-button" %>
			<% if params[:apply_overrides] == '1' || params[:apply_overrides].blank? %>
				<div class="override override-on">	
					<%= link_to 'Set Off', tasks_path(:apply_overrides=>'0', :sort_field=>params[:sort_field], :sort_order=>params[:sort_order]), :title=>"turn overrides off", :class => "set-off-on" %>
					<%= link_to 'Set On', tasks_path(:apply_overrides=>'1', :sort_field=>params[:sort_field], :sort_order=>params[:sort_order]), :title=>"turn overrides on", :class => "set-on-on" %>
				</div>
			<% else %>
				<div class="override override-off">	
					<%= link_to 'Set Off', tasks_path(:apply_overrides=>'0', :sort_field=>params[:sort_field], :sort_order=>params[:sort_order]), :title=>"turn overrides off", :class => "set-off-off" %>
					<%= link_to 'Set On', tasks_path(:apply_overrides=>'1', :sort_field=>params[:sort_field], :sort_order=>params[:sort_order]), :title=>"turn overrides on", :class => "set-on-off" %>
				</div>
			<% end %>
	<% end %>
</div>

<% if @tasks.blank? %>
		<h3>No schedules found.</h3>
<% else %>
<article class="module">
	<header><h3>Schedules Overview</h3></header>
	<table class="tablesorter" cellspacing="0">
	  <thead> 
	  <tr>
	    <th class="first">Scan Actions</th>
	    <th>

				Schedule Name
			</th>
	    <th>
				Status
			</th>
	    <th>Threat</th>
	    <th>Trend</th>
	    <th colspan="3" class="last-th">Actions</th>
	  </tr>
	</thead> 	  
	<tbody>
	<%= render "task" %>
	</tbody>
	</table>
	</article>

<% end %>
