<div class="main_header">
	<h3>All Reports <span id="sub_header">for Schedule: <%= @task.name %></span></h3>
</div>
<div>
	<%= button_group do %>
		<%= arrowleft_pill_button_link_to "Back", tasks_path %>
			
			<% if params[:apply_overrides] == '1' || params[:apply_overrides].blank? %>
					<% params.merge!({:apply_overrides=>'1'}) if params[:apply_overrides].blank? %>
					<%= disable_danger_lock_pill_button_link_to 'Overrides Are On', task_path(@task.id), :title=>"Overrides Are On and Applied" %>
				<div class="override override-on">	
					<%= link_to 'Set Off', task_path(:id=>@task.id, :apply_overrides=>'0'), :title=>"turn overrides off", :class => "set-off-on" %>
					<%= link_to 'Set On', task_path(:id=>@task.id, :apply_overrides=>'1'), :title=>"turn overrides on", :class => "set-on-on"  %>
				</div>
			<% else %>
					<%= disable_unlock_pill_button_link_to 'overrides are Off', task_path(@task.id), :title=>"overrides are Off" %>
				<div class="override override-off">
					<%= link_to 'Set Off', task_path(:id=>@task.id, :apply_overrides=>'0'), :title=>"turn overrides off", :class => "set-off-off" %>
					<%= link_to 'Set On', task_path(:id=>@task.id, :apply_overrides=>'1'), :title=>"turn overrides on", :class => "set-on-off" %>
				</div>
			<% end %>
			
			
			
	<% end %>
</div>

<article class="module">
	<header><h3>Reports</h3></header>
	<table class="tablesorter" cellspacing="0">
	  <thead> 
  <tr>
    <th class="first">Report</th>
    <th>Threat</th>
    <th colspan="5">Scan Results</th>
    <th colspan="2">Actions</th>
  </tr>
  <tr>
	<th class="first"></th>
	<th></th>
    <th>High</th>
    <th>Medium</th>
    <th>Low</th>
    <th>Log</th>
    <th>FalsePos</th>
	<th></th>
	<th></th>
	</tr>
	</thead>
	<tbody>
  <% @task.reports.reverse.each do |report| %>
    <tr class=<%= cycle('even', 'odd')%>>
		<td>
			<%= report.timestamp %><br />
			<%= report.scan_run_status %>
		</td>
        <td><%= report.threat_level %></td>
	    <td><%= report.result_count_total[:high] %></td>
	    <td><%= report.result_count_total[:medium] %></td>
	    <td><%= report.result_count_total[:low] %></td>
	    <td><%= report.result_count_total[:log] %></td>
	    <!-- <td><%= report.result_count_total[:debug] %></td> -->
	    <td><%= report.result_count_total[:false_positive] %></td>
      <td><%= link_to "Details", report_path(report.id), :class => "details-button" %></td>
  		<td>
			<% if report.can_delete %>
					<%= link_to "Delete", report_path(report.id), :confirm => 'Are you sure?', :method => :delete, :class => "delete-button" %>
			<% else %>
					<%= link_to "Delete", root_path, :title => 'unable to delete Report', :class => "delete-button" %>
			<% end %>
			</td>
    </tr>
  <% end %>
		</tbody>
	</table>
	</article>
