<% title "Exception Details" %>

<% if session[:go_back] %>
	<div><%= arrowleft_pill_button_link_to "Back", session[:go_back] %></div>
<% end %>

<p>
	NVT Name: <%= @override.nvt_name %><br />
	NVT OID: <%= @override.nvt_oid %><br />
	Created: <%= @override.creation_time %><br />
	Last modified: <%= @override.modification_time %>
</p>

<p>
	Hosts: <%= @override.hosts %><br />
	Port: <%= @override.port %><br />
	Threat: <%= @override.threat %><br />
	<strong>New Threat</strong>: <%= @override.new_threat %><br />
	Task: <%= @override.task_name %><br />
	Result: <%= @override.result_description %>
</p>

<div style="padding:4px; margin:0 3px; border: 1px solid #CCCCCC; background-color: #ffff90;">
	<b>Exception from <%=@override.threat%> to <%=@override.new_threat%></b>
	<br />
	<pre><%= @override.override_text %></pre>
	Last modified: <%= @override.modification_time %>.
</div>
