				<ul id="ddm">
					<li class="first"><%= link_to 'Home', root_path %></li>
					<li><%= link_to 'Scan', "#", :class => "no_menu_link" %>
						<ul data-menu="scan">
							<li><%= link_to 'New Scan', new_task_path %></li>
							<li><%= link_to 'Scheduled Scans', tasks_path %></li>
							<li><%= link_to 'Exceptions', overrides_path %></li>
							<li><%= link_to 'Notes', notes_path %></li>
						</ul>
					</li>
					<li><%= link_to 'Reports', reports_path %>
					</li>
					<li><%= link_to 'Configuration', "#", :class => "no_menu_link" %>
						<ul data-menu="configuration">
							<li><%= link_to 'Scan Policies', scan_configs_path %></li>
							<li><%= link_to 'Target Groups', scan_targets_path %></li>
							<li><%= link_to 'Credentials', credentials_path %></li>
							<li><%= link_to 'Agents', agents_path %></li>
							<li><%= link_to 'Notification', escalators_path %></li>
							<li><%= link_to 'Schedules', schedules_path %></li>
							<li><%= link_to 'Vulnerability Servers', slaves_path %></li>
						</ul>
					</li>
					<% if session[:admin] %>
						<li class="admin-option"><%= link_to 'Administration', "#", :class => "no_menu_link" %> <%= image_tag "main/admin-arrow.png" %>
							<ul data-menu="admin">
								<li><%= link_to 'Manage Users', openvas_users_path %></li>
								<li><%= link_to 'Update Plugins', feeds_path %></li>
								<li><%= link_to 'Scanner Settings', settings_path %></li>
								<li><%= link_to 'System Report', system_reports_path %></li>
								<li><%= link_to 'Report Formats', report_formats_path %></li>
							</ul>
						</li>
					<% end %>
				<div id="menu-right">
					<li><%= link_to "Help", help_path %></li>
					<li class="last"><%= image_tag "main/logout-icon.png" %> <%= link_to "Logout",  destroy_user_session_path %></li>
					</div>
				</ul>
