<% title "Schedules" %>
<div><%= add_button_link_to "new Schedule", new_schedule_path %></div>
<table cellspacing="2" cellpadding="4">
  <tr class="table_header">
    <th>Name</th>
    <th>Comment</th>
    <th>First Run</th>
    <th>Next Run</th>
    <th>Period</th>
    <th>Duration</th>
    <th>In Use</th>
    <th>Actions</th>
  </tr>
  <% for schedule in @schedules %>
    <tr>
      <td><%= schedule.name %></td>
      <td><%= schedule.comment %></td>
      <td><%= schedule.first_time %></td>
      <td><%= schedule.next_time %></td>
      <td><%= schedule.period %></td>
      <td><%= schedule.duration %></td>
      <td><%= schedule.in_use == 0 ? 'no' : 'yes' %></td>
			<% if schedule.in_use > 0 %>
  			<td><%= disable_danger_remove_pill_button_link_to 'delete', schedules_path, :title => 'schedule is in use' %></td>
  		<% else %>
	    		<td><%= danger_remove_pill_button_link_to 'delete', schedule_path(schedule.id), :title => 'delete schedule', :confirm => 'Are you sure?', :method => :delete %></td>
		  <% end %>
    </tr>
  <% end %>
</table>
