<script>
	$(document).ready(function() { 
		$(".tablesorter").tablesorter(); 
	});
</script>

<% title "Schedules" %>
<div><%= link_to "New Schedule", new_schedule_path, :class => "add-button" %></div>
<div style="clear: both"></div>

<article class="module">
	<header><h3>Schedules Overview</h3></header>
<table class="tablesorter" cellspacing="0">  
<thead>  
  <tr>
    <th class="first">Name</th>
    <th>Comment</th>
    <th>First Run</th>
    <th>Next Run</th>
    <th>Period</th>
    <th>Duration</th>
    <th>In Use</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  <% for schedule in @schedules %>
    <tr class=<%= cycle('even', 'odd')%>>
      <td><%= schedule.name %></td>
      <td><%= schedule.comment %></td>
      <td><%= schedule.first_time %></td>
      <td><%= schedule.next_time %></td>
      <td><%= schedule.period %></td>
      <td><%= schedule.duration %></td>
      <td><%= schedule.in_use == 0 ? 'no' : 'yes' %></td>
			<% if schedule.in_use > 0 %>
  			<td><%= disable_danger_remove_pill_button_link_to 'Delete', schedules_path, :title => 'schedule is in use' %></td>
  		<% else %>
	    		<td><%= link_to 'Delete', schedule_path(schedule.id), :title => 'delete schedule', :confirm => 'Are you sure?', :method => :delete, :class => "delete-button" %></td>
		  <% end %>
    </tr>
  <% end %>
	</tbody>
</table>
</article>
