<p>
  <strong>Name:</strong>
  <%= @schedule.name %>
</p>
<p>
  <strong>Comment:</strong>
  <%= @schedule.comment %>
</p>
<p>
  <strong>First Time:</strong>
  <%= @schedule.first_time %>
</p>
<p>
  <strong>Next Run:</strong>
  <%= @schedule.next_time %>
</p>
<p>
  <strong>Period:</strong>
  <%= @schedule.period %>
</p>
<p>
  <strong>Duration:</strong>
  <%= @schedule.duration %>
</p>
<p>
  <strong>In Use:</strong>
  <%= @schedule.in_use %>
</p>
