Unique Hosts: <%= current_user.unique_scanned_hosts.count %><br />
<% current_user.unique_scanned_hosts.each_with_index do |host, index| %>
<%= index + 1 %>) <span><%= host %></span><br />
<% end %>

<br />
<br />
Unique Hosts with vulnerabilities: <%= current_user.vulnerable_unique_hosts.count %><br />
<% current_user.vulnerable_unique_hosts.each_with_index do |host, index| %>
<%= index + 1 %>) <span><%= host %></span><br />
<% end %>

<br />
<br />
Outdated scanned hosts: <%= current_user.outdated_hosts.count %><br />
<% current_user.outdated_hosts.each_with_index do |host, index| %>
<%= index + 1 %>) <span><%= host %></span><br />
<% end %>

<br />
<%= current_user.date_severity_count %>
