<div style="margin:0 auto; text-align:center; padding-top:30px">
	<h1><span class="sign_in">osDiscover</span></h1>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :style => "margin:0 auto") do |f| %>
	  <p><%= f.label :username %>
	  <%= f.text_field :username %></p>
	  <p><%= f.label :password %>
	  <%= f.password_field :password %></p>
	  <p><%= big_user_button_tag "Sign in" %></p>
	<% end %>
</div>