<script>
	$(document).ready(function() { 
		$(".tablesorter").tablesorter(); 
	});
</script>


<% title "Scan Configs" %>
<div><%= link_to 'Create / Import Scan Config', new_scan_config_path, :class => "add2-button" %></div>
<div style="clear: both"></div>

<article class="module">
	<header><h3>Scan Configs Overview</h3></header>
<table class="tablesorter" cellspacing="0">
  <thead>
  <tr>
    <th class="first">Name</th>
    <th style="width: 110px">Family Count</th>
    <th style="width: 120px">Families Grow</th>
    <th style="width: 100px">NVTs Count</th>
    <th style="width: 90px">NVTs Grow</th>
    <th style="width: 60px">In Use</th>
    <th colspan="2">Actions</th>
  </tr>
  </thead>
  <tbody>
	<% @scan_configs.each do |scan_config| %>
	  <tr class=<%= cycle('even', 'odd')%>>
	    <td>
				<%= link_to scan_config.name, scan_config_path(scan_config.id), :title => 'details of Scan Config' %>
				<br />
	    	<span style="font-size:10px"><%= scan_config.comment %></span>
			</td>
	    <td><%= scan_config.family_count %></td>
	    <td><%= scan_config.families_grow %></td>
	    <td><%= scan_config.nvts_count %></td>
	    <td><%= scan_config.nvts_grow %></td>
	    <td><%= scan_config.in_use %></td>
			<td><%= link_to 'Export', export_config_path(scan_config.id), :class => "details-button" %></td>
			<% unless scan_config.in_use > 0 %>
		    <td><%= link_to 'Delete', scan_config_path(scan_config.id), :title => 'delete scan config', :confirm => 'Are you sure?', :method => :delete, :class => "delete-button" %></td>
			<% else %>
			<td>&nbsp;</td>
			<% end %>
	  </tr>
	<% end %>
	</tbody>
</table>
</article>
