<%= form_for @credential do |f| %>
	<% if @credential.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@credential.errors.count, "error") %> prohibited this credential from being saved:</h2>
	    <ul>
	      <% @credential.errors.full_messages.each do |msg| %>
	        <li><%= raw(msg) %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>
	<div class="field">
	  <div class="left">Name</div>
	  <div class="right"><%= f.text_field :name, :maxlength => 80, :autocomplete => 'off' %></div>
	</div>
	<div class="field">
	  <div class="left">Comment</div>
	  <div class="right"><%= f.text_area :comment, :rows => 5, :cols => 80 %></div>
	</div>
	<% if @credential.new_record? %>
			<div class="field">
			  <div class="left">Login</div>
			  <div class="right"><%= f.text_field :login, :maxlength => 80, :autocomplete => 'off' %></div>
			</div>
			<div class="field">
			  <div class="left">Password</div>
			  <div class="right">
					<%= f.password_field :password, :maxlength => 40, :autocomplete => 'off' %>
					(leave password blank to auto-generate credential)
				</div>
			</div>
	<% else %>
			<% unless @credential.password_type.downcase == 'gen' %>
				<div class="field">
				  <div class="left">Login</div>
				  <div class="right"><%= f.text_field :login, :maxlength => 80, :autocomplete => 'off' %></div>
				</div>
				<div class="field">
				  <div class="left">Password</div>
				  <div class="right">
						<%= f.password_field :password, :maxlength => 40, :autocomplete => 'off' %>
						&nbsp;&nbsp;<small><em>note: leave blank to use existing password</em></small>
					</div>
				</div>
			<% end %>
	<% end %>
	<br /><br />
  <div class="actions">
    <div class="left">&nbsp;</div>
		<div class="right">
			<% if @credential.new_record? %>
	    		<%= big_button_submit_tag 'Create Credential' %>
			<% else %>
	    		<%= big_button_submit_tag 'Save Credential' %>
			<% end %>
  	</div>
  </div>
	<br /><br />
<% end %>