<% title "Credentials" %>
<div><%= add_button_link_to "new Credential", new_credential_path %></div>
<table cellspacing="2" cellpadding="4">
  <tr class="table_header">
    <th>Name</th>
    <th>Login</th>
    <th>Comment</th>
    <th colspan="7">Actions</th>
  </tr>
  <% for credential in @credentials %>
    <tr>
      <td><%= credential.name %></td>
      <td><%= credential.login %></td>
      <td><%= credential.comment %></td>
      <td><%= pill_button_link_to "details", credential_path(credential.id) %></td>
      <td><%= pill_button_link_to "edit", edit_credential_path(credential.id) %></td>
			<% if credential.in_use > 0 %>
      		<td><%= disable_danger_remove_pill_button_link_to "delete", credentials_path, :title=>'credential is in use' %></td>
			<% else %>
      		<td><%= danger_remove_pill_button_link_to "delete", credential_path(credential.id), :confirm => 'Are you sure?', :method => :delete %></td>
			<% end %>
			<% if credential.password_type.downcase == 'gen' %>
  				<td><%= arrowdown_pill_button_link_to "RPM", download_format_path(credential.id, :credential_format => 'rpm'), :title => 'download RPM package' %></td>
  				<td><%= arrowdown_pill_button_link_to "DEB", download_format_path(credential.id, :credential_format => 'deb'), :title => 'download DEB package' %></td>
  				<td><%= arrowdown_pill_button_link_to "EXE", download_format_path(credential.id, :credential_format => 'exe'), :title => 'download EXE package' %></td>
      		<td><%= key_pill_button_link_to "SSH Public Key", download_public_key_path(credential.id), :title => 'download SSH Public Key' %></td>
			<% end %>
    </tr>
		<tr><td colspan="10"><hr /></td></tr>
  <% end %>
</table>
