<% title "Credential details" %>
<p>
  Name: <%= @credential.name %><br />
  Comment: <%= @credential.comment %><br />
  Login: <%= @credential.login %>
</p>
<h3>Targets using this Credential: <%= 'None' if @credential.scan_targets.blank? %></h3>
<% unless @credential.scan_targets.blank? %>
		<ol>
		<% @credential.scan_targets.each do |target| %>
				<li><%= target.name %></li>
		<% end %>
		</ol>
<% end %>