<script>
	$(document).ready(function() { 
		$(".tablesorter").tablesorter(); 
	});
</script>

<% title "Escalators" %>
<div><%= link_to "New Escalator", new_escalator_path, :class => "add-button" %></div>
<div style="clear: both"></div>

<article class="module">
	<header><h3>Escalators Overview</h3></header>
<table class="tablesorter" cellspacing="0">  
<thead>
  <tr>
    <th class="first">Name</th>
    <th>Event</th>
    <th>Condition</th>
    <th>Method</th>
    <th colspan="3">Actions</th>
  </tr>
</thead>
<tbody>
  <% for escalator in @escalators %>
    <tr class=<%= cycle('even', 'odd')%>>
      <td><%= escalator.name %></td>
      <td>
				<%= escalator.escalator_event %>
				<br />
				<%= escalator.event_data %>
			</td>
      <td>
				<%= escalator.escalator_condition %>
				<br />
			  <% escalator.condition_datas.each do |dt| %>
						 <%= dt.name %>: <%= dt.data %><br />
			  <% end %>
			</td>
      <td>
				<%= escalator.escalator_method %>
				<br />
			  <% escalator.method_datas.each do |dt| %>
						<% if (dt.name == 'notice' && dt.data == '0') || dt.name == 'submodule' || dt.name == 'from_address'
								 next
							 end
							 next if dt.data.blank?
						%>
						<%= dt.name %>: <%= dt.data %><br />
			  <% end %>
			</td>
      <td><%= link_to "Details", escalator_path(escalator.id), :class => "details-button" %></td>
      <td><%= pill_button_link_to "Test Escalator", test_escalator_path(escalator.id) %></td>
			<% if escalator.in_use > 0 %>
      		<td><%= disable_danger_remove_pill_button_link_to "Delete", escalators_path, :title=>'escalator is in use' %></td>
			<% else %>
      		<td><%= link_to "Delete", escalator_path(escalator.id), :confirm => 'Are you sure?', :method => :delete, :class => "delete-button" %></td>
			<% end %>
    </tr>
  <% end %>
	</tbody>
</table>
</article>
