<tr>
	<td><%= each_host_summary.host %></td>
	<td><%= each_host_summary.started_at %></td>
	<td><%= each_host_summary.ended_at %></td>
	<td><%= each_host_summary.high %></td>
	<td><%= each_host_summary.medium %></td>
	<td><%= each_host_summary.low %></td>
	<td><%= each_host_summary.log %></td>
	<!-- <td><%#= each_host_summary.debug %></td> -->
	<td><%= each_host_summary.false_positive %></td>
	<td><%= each_host_summary.total %></td>
</tr>
