<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
  <title><%= content_for?(:title) ? yield(:title) : "osDiscover" %></title>
	<%= css3buttons_stylesheets :include_reset => false %>
  <%= stylesheet_link_tag "application", "main/menu", "main/content", "tablesorter", :cache => "osdiscover" %>
  <%= javascript_include_tag 'jquery', 'jquery.min', 'jquery_ujs', 'main/menu', 'jquery.tablesorter.min.js', :cache => 'osdiscover' %>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>
<div id="container">
	<div id="nav_wrapper">
		<% if user_signed_in? %>
			<div class="logo">
				<h1>osDiscover</h1>
			</div>
			<div class="nav">
				<%= render "/partials/menu" %>
			</div>
		<% end %>
	</div>
	<div class="clear"></div>
	<div id="content">
	<span><%= content_tag :h2, yield(:title) if show_title? %></span>
		<% flash.each do |name, msg| %>
		  <%= content_tag :div, msg, :id => "flash_#{name}" unless msg.blank? %>
		<% end %>
		<%= yield %>
	</div>
	<footer id="page_footer"> 
		2011 &nbsp;&nbsp;&nbsp;
		<%= Time.now.utc.strftime("%a %b %d, %Y %I:%M:%S %P %Z") %>
		<% if user_signed_in? %>
				<span class="footer_text">timeout in <%=time_ago_in_words(session_timeout_in)%>:</span> <%= session_timeout_in %>
		<% end %>
		&nbsp;&nbsp;
		<small>
			OMP Version: <%=APP_CONFIG[:omp_version_expected]%>
			and
			OAP Version: <%=APP_CONFIG[:oap_version_expected]%>
		</small>
	</footer>
</div>

<script>
jQuery(document).ready(function(){

	$("input:text:visible:first").focus();

	$("a.disable").click(function(e) {
		e.preventDefault();
		return false;
	});

	// help stop double clicking
	function do_nothing() { 
	  return false;
	}

	// prevent a second click for 5 seconds:
	$('a.button').live('click', function(e) { 
	  $(e.target).click(do_nothing); 
	  setTimeout(function(){
	    $(e.target).unbind('click', do_nothing);
	  }, 5000); 
	});

	// prevent a second click for 5 seconds:
	$("input[type='submit']").live('click', function(e) { 
	  $(e.target).click(do_nothing); 
	  setTimeout(function(){
	    $(e.target).unbind('click', do_nothing);
	  }, 5000); 
	});

});
</script>
</body>
</html>